S3method(Estimate,CMEspec)
S3method(Estimate,default)
S3method(GetCorr,CMEest)
S3method(GetCorr,CMEspec)
S3method(GetCorr,default)
S3method(GetCov,CMEest)
S3method(GetCov,CMEspec)
S3method(GetCov,default)
S3method(GetLoc,CMEest)
S3method(GetLoc,CMEspec)
S3method(GetLoc,default)
S3method(MakeMomentFUN,CMEest)
S3method(MakeMomentFUN,CMEspec)
S3method(MakeMomentFUN,default)
export(CovSpec)
export(Estimate)
export(GetCorr)
export(GetCov)
export(GetLoc)
export(MakeMomentFUN)
export(summary.CMEspec)
import(PerformanceAnalytics)
import(robust)
