S3method(Estimate,CMEestimSpec)
S3method(Estimate,CMEfilterSpec)
S3method(Estimate,CMEshrinkSpec)
S3method(Estimate,CMEsmoothSpec)
S3method(Estimate,CMEspec)
S3method(Estimate,default)
S3method(GetCor,CMEest)
S3method(GetCor,CMEspec)
S3method(GetCor,default)
S3method(GetCov,CMEest)
S3method(GetCov,CMEspec)
S3method(GetCov,default)
S3method(GetLoc,CMEest)
S3method(GetLoc,CMEspec)
S3method(GetLoc,default)
S3method(MakeMomentFUN,CMEest)
S3method(MakeMomentFUN,CMEspec)
S3method(MakeMomentFUN,default)
export(.MakeEstimEst)
export(.MakeFilterEst)
export(.MakeShrinkEst)
export(.MakeSmoothEst)
export(.MakeSpec)
export(Boudt)
export(CMEhelp)
export(CMEspec)
export(Estimate)
export(GetCor)
export(GetCov)
export(GetLoc)
export(GetQ)
export(MPfilter)
export(MakeMomentFUN)
export(cor2cov)
export(dmarpas)
export(marpas)
export(marpasEig)
export(pmarpas)
export(summary.CMEspec)
import(PerformanceAnalytics)
import(nls2)
import(robust)
